.formInput {
  display: flex;
  flex-direction: column;
  width: 280px;
}

input,
select {
  padding: 15px;
  margin: 10px 0px;
  border-radius: 5px;
  border: 2px solid gray;
  transition: border-color 0.3s ease;
  /* Thêm hiệu ứng transition cho việc thay đổi border-color */
}

/* Hover cho input */
input:hover {
  border-color: #007bff;
  /* Màu sắc hover tùy chọn */
}

/* Hover cho select */
select:hover {
  border-color: #007bff;
  /* Màu sắc hover tùy chọn */
}

label {
  font-size: 12px;
  color: gray;
}

span {
  font-size: 12px;
  padding: 3px;
  color: red;
  display: none;
}

input:invalid[focused='true'] {
  border: 1px solid red;
}

input:invalid[focused='true']~span {
  display: block;
}